doctype html
html
  head
    title=title
    meta(name="viewport" content="initial-scale=1, width=device-width")
    link(rel='stylesheet',  href="https://unpkg.com/swagger-ui-dist@4.0.0/swagger-ui.css")
  body(style="padding-top: 20px")
    div(id="swagger-ui")
  script(src="https://unpkg.com/swagger-ui-dist@4.0.0/swagger-ui-bundle.js", crossorigin)
  script(type="text/javascript").
    window.onload = function() {
        window.ui = SwaggerUIBundle({
            spec: !{JSON.stringify(setupDoc)},
            dom_id: '#swagger-ui'
        });
    }